main {
    width: 50vw;
    margin: 100px auto;

}

.header {
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    border-bottom: none;
    font-family: serif;
    /* font-weight: 100; */
    color: rgb(34, 11, 167);
}

.header>p {
    font-family: serif;
    font-weight: bolder;
    float: left;
    text-transform: uppercase;
}

.header>a>img {
    height: 50px;
    position: relative;
    float: right;
}

#slide-1 {
    /* display: none; */
    background-color: #FFFFE7;
    width: 100%;
    display: block;
    min-height: 300px;
    border: 1px solid black;
}

.factory-header {
    position: relative;
    margin-top: 0;
    top: 0;
    width: 20%;
    height: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    padding-right: 31px;
}

.factory-header:after {
    content: '';
    position: absolute;
    right: -11px;
    bottom: 5px;
    top: 4px;
    width: 21px;
    height: 21px;
    border: 1px solid black;
    border-left: 0;
    border-top: 0;
    transform: rotate(135deg);
}

.content-wrapper {
    max-height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.robotWrapper {
    background-color: #ffffff;
    min-width: 30%;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
}

.boxesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    margin-right: 0;
}

.paragraph {
    background-color: #ffffff;
    font-size: 1.2rem;
    /* margin: 10px; */
    margin-right: 0;
    padding: 10px 10px;
    border: 1px solid black;
}

#first-paragraph {
    text-align: left;
    margin-top: 0;
    margin-right: 3%;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}


#first-paragraph::first-letter {
    font-weight: bold;
}

#first-paragraph .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#first-paragraph:hover .tooltip {
    visibility: visible;
}

.boxesWrapper>p:nth-child(2) .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.boxesWrapper>p:nth-child(2):hover .tooltip {
    visibility: visible;
}

.boxesWrapper>p:nth-child(2) {
    margin-right: 6%;
    margin-top: 0px;
    margin-bottom: 0px;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

.boxesWrapper>p:last-child {
    margin-bottom: 0;
    margin-right: 9%;
    text-align: left;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}

.boxesWrapper>p>img {
    float: left;
    max-width: 40px;
    height: 100%;
    display: block;
}

#robot{
    position: relative;
}

.robot-bubble{  
    position: absolute;
    display: none;
    padding: 15px;
    top: -80px;
    left: 182px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #fff;
    min-width: 136px;
    height: 50px;
    z-index: 1;
}

.robot-bubble:before,
.robot-bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

.bubble:before{
    left: 30px;
    bottom: -50px;
    border: 28px solid;
    border-color: #333 transparent transparent #333;
    transform: rotate(10deg);
}

.bubble:after{
    left: 31px;
    bottom: -48px;
    border: 28px solid;
    border-color: #fff transparent transparent #fff;
    transform: rotate(10deg);
}

.robot-name {
    margin: 0;
    margin-bottom: 5px;
}

#robot-head {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 50%;
}

.robot-eyes {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 50%;
}

.robot-eyes:nth-child(1) {
    left: 5px;
}

.robot-eyes:nth-child(2) {
    right: 5px;
}

#robot-mouth {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    top: 26px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 50%;
    /* animation: changeMouth ease-in-out 2s infinite; */
}

#robot-body {
    position: relative;
    margin: 0 auto;
    border-top: 85px solid #F16527;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 50px;
}

.slider-buttons{
    margin: 0 auto;
    display: none;
}

.slider-buttons > div{
    margin: 22px auto;
    display: block;
    width: fit-content;
}

#previous, #next{
    padding: 5px;
    margin: 0 5px;
    background-color: #F3F3F3;
    border: 1px solid grey;
    border-radius: 5px;

}

.hands {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F3F3F3;
    margin: 0 auto;
    width: 10px;
    height: 64px;
}

.hands:nth-child(1) {
    top: -80px;
    left: -31px;

}

.hands:nth-child(2) {
    right: -31px;
    top: -80px;
}

#robot-legs {
    position: relative;
    width: 36px;
    height: 80px;
    margin: 0 auto;
}

.legs {
    position: absolute;
    width: 10px;
    height: 47px;
    border: 1px solid black;
    border-top: none;
    margin: 0 auto;
}

.rock{
    display: none;
    left: -10px;
    top: -25px;
    position: relative;
    margin: 0 auto;
    border-bottom: 41px solid #F16527;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 50px;
    z-index: 1;
}

.legs:nth-child(1) {
    left: -6px;
}

.legs:nth-child(2) {
    right: -6px;
}

#robotColor{
    display: block;
    width: 42px;
    height: 16px;
    margin: 0 auto;
    border: 1px solid black;
    /* background-color: aqua; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes changeMouth {
    0% {
        height: 4px;
    }

    50% {
        height: 20px;
        top: 15px;
    }

    100% {
        height: 4px;
    }
}

@keyframes robotJump {
    0% {
        height: 47px;
    }

    40% {
        height: 25px;
    }

    100% {
        height: 47px;
    }
}

@keyframes robotBlink {
    0% {
        height: 10px;
    }

    50% {
        height: 5px;
        top: 1px;
    }

    100% {
        height: 10px;
    }
}

@media only screen and (max-width: 1300px) {
    .main{
        width: 75vw;
    }

    .boxesWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 750px) {
    #slide-1{
        min-height: 65vh;
    }

    .content-wrapper{
        min-height: 400px;
    }

    .boxesWrapper > p{
       margin-top: 0;
       margin-bottom: 0;
    }

    p> img{
        max-width: 29px;
        height: 56px;
    }
}