#slide-2 {
    background-color: #E7F4DC;
    width: 100%;
    display: flex;
    flex-direction: column;

    min-height: 300px;
    margin: 25px auto;
    border: 1px solid black;
}

#slide-2>h2 {
    margin: 0;
    font-weight: 100;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

.form-wrapper {
    margin: 0 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-wrapper label {
    padding-bottom: 5px;
    display: block;
    text-align: left;
}

input{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid black;
}

.name input{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid black;
}

.form-wrapper input {
    font-size: small;
}

.select-color input{
    padding: 0 3px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid black;
}

.select-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-option label {
    display: inline;
}

.select-type select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

.checkbox-wrapper>input {
    float: left;
}
.checkbox-wrapper>label {
    float: left;
}
.write-comment {
    display: flex;
    flex-direction: column;
}

.write-comment>label {
    display: block;
}

.write-comment>textarea {
    position: relative;
    height: 100%;
    text-align: center;
    padding-top: 25px;
}

.buttons{
    position: relative;
    margin: 0 20px;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    margin-bottom: 20px;
    /* border: 1px solid black; */
}

.buttons div{
    position: absolute;
    width: 100%;
    left: -20px;
    top: 50px;
    border-top: 1px solid black;
}

.buttons button{
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid black;
}

@media only screen and (max-width: 1300px) {
    .form-wrapper{
        text-align: center;
        margin: 20px 20px;
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .buttons{
        margin-bottom: 100px;
    }
}